/*reset do CSS*/
*     {
margin: 0;
padding:0;
box-sizing: border-box;
}
body {
    background-image: url("https://img.olhardigital.com.br/uploads/acervo_imagens/2019/08/r16x9/20190808035955_1200_675_-_espaco__cosmos.jpg");
    background-size:1390px;
     height: 100vh;
      font-family:Calibri;
      font-size:18px;
  }
/*se esta tela tiver mais de 400 pixels ela se adaptará as estas condições*/
 
@media (min-width: 350px){
   .h1 {
     text-align: center;
     font-size: 70px;
    } 
     .img-história {
      width: 500px;
      height: 450px ;
     }
      .a {
       font-size: 10px;
      }
}     
  header{
    height: 60vh;
  }
  .menu {
    background-color: gray;
    position: fixed;
  }
  .menu li{
   list-style:None;
  }
  a{
    text-decoration: none;
    color:whitesmoke;
    position: fixed;
    font-family: 'DM Mono', monospace;
    font-size: 14px;
    background-color: black;
  } 
  a:hover{
    text-decoration:Underline;
    Background-color:Purple; 
  }
  
  .menu2:hover{
    background-color:Purple;
  }
  .menu2{
    color:white;
    font-family: 'Major Mono Display', monospace;
    text-align: center;
  }
  .menu ul{
    display: contents;
    justify-content: Space-around;
    position:fixed;
    background: black
  }
  
  h1 {
    text-align: center;
    color:white;
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
  }
  h2{
    text-align:center;
      color:white;
      font-family: 'Amatic SC', cursive;
  }
  .img-história {
    width: 300px;
    height: 250px;
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 10%;
  }
  
.element.style {
  padding: 0.5em;
}
 
.Project{
   Color: White;
   font-family: 'Major Mono Display', monospace;
 }

  .jajaja {
   Color: White;
   font-family: 'Major Mono Display', monospace; 
 }

  .tututu {
    Color: White;
    font-family: 'Major Mono Display', monospace;  
  }
  .Pojeto {
    width: 320px ;
    height: 280px;
    padding: 0.5em;
    border-radius:10% ;
  }

  .grid {
    text-align: center;
    grid-template-columns: 200px 200px;
    height: 100vh;
  }