/*reset do CSS*/
*     {
margin: 0;
padding:0;
box-sizing: border-box;
}
body {
    background-image: url("https://img.olhardigital.com.br/uploads/acervo_imagens/2019/08/r16x9/20190808035955_1200_675_-_espaco__cosmos.jpg");
    background-size:1390px;
     height: 100vh;
      font-family:Calibri;
      font-size:18px;
  }
/*se esta tela tiver mais de 400 pixels ela se adaptará as estas condições*/
 
@media (min-width: 350px){
   .h1 {
     text-align: center;
     font-size: 70px;
    } 
      .a li {
       font-size: 10px;
   }
}      
  header{
    height: 60vh;
  }
  .menu {
    background-color: gray;
    position: fixed;
  }
  .menu ul{
    display: contents;
    justify-content: Space-around;
    position:fixed;
    background: black
  }


  
  a ul:hover{
    text-decoration:Underline;
    Background-color:Purple; 
  }
  
  .menu2:hover{
  font-size: 35px;
  }
  .menu2{
    color:white;
    font-family: 'Major Mono Display', monospace;
    text-align: center;
    font-size: 25px;
    transition: font-size 2s;
  }
  
  h1 {
    text-align: center;
    color:white;
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
  }
  h2{
    text-align:center;
      color:white;
      font-family: 'Amatic SC', cursive;
  }
  .img-história {
    width: 300px;
    height: 250px;
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 10%;
    text-align: center;
  }
  
.element.style {
  padding: 0.5em;
}
 
.Project{
   Color: White;
   font-family: 'Major Mono Display', monospace;
   font-size: 25px;
   transition: font-size 2s;
  }

  .jajaja {
   Color: White;
   font-family: 'Major Mono Display', monospace; 
   font-size: 25px;
   transition: font-size 2s;
 }

  .tututu {
    Color: White;
    font-family: 'Major Mono Display', monospace;  
    font-size: 25px;
    transition: font-size 2s;
  }
  .Pojeto {
    width: 320px ;
    height: 280px;
    padding: 0.5em;
    border-radius:10% ;
    font-size: 25px;
    transition: font-size 2s;
  }

  .grid {
    text-align: center;
    grid-template-columns: 200px 200px;
    height: 100vh;
  }
  .contato {
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    color: white;
  }
  .contato h3 {
    background-color: black;
  }
  
  .a :target {
    size: 100px;
  }

  .grid-icons a{
    font-size: 50px;
    text-align: center;
  }
  .grid-icons a:hover {
    background-color: black;
  }
  .li {
    font-family: 'DM Mono', monospace;
  }

  .Home a {
    
    background-color: black;
    font-family: 'DM Mono', monospace;
    color:White;
    text-decoration: none;
    font-size: 14px;
    position: fixed;
    transition: background-color 1s, color 1s;
  }

  .Home a:hover{
    background-color: white;
    text-decoration: underline;
    color: black;
  }

.contato a{
  color: white;
  text-decoration: none;
}
.contato a:active,
.contato a:hover{
  text-shadow: 0px 0px 10px white;
}
.jajaja:hover {
  font-size: 35px;
}
.tututu:hover {
  font-size: 35px;
}

.Project:hover {
  font-size: 35px;
}

.Pojeto:hover {
  font-size: 35px;
}

h1,
h2 {
  transform: scale(0.3) translateY(50vh)  ;
  opacity: 0.5;

  animation:linear 2s animatítulo forwards;
}

@keyframes animatítulo {
  100%{
    transform: scale(1) translateY(0)  ;
    opacity: 1;
  
  }
}
.sobre {
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
  color: white;
  display: contents;
  height:70vh;
}

.White {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 35px; 
  padding: 3em; 
}

.Brec {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 35px; 
  padding: 3em; 
}

.p {
  font-family: 'Amatic SC', cursive; 
}

.purp {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 35px; 
  padding: 3em; 
}

.uait {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 35px; 
  padding: 3em; 
}

.sobre p {
  padding: 0em;
  margin-bottom: 20em;
  background-color: black;
  font-size: 40px;
}

.uait a {
 color: cyan;
 transition: font-size 1s;
}

.uait a:hover {
  font-size: 45px;
}



